<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>fr.rca.mapmaker.map.mmk</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>mmk</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSTypeIsPackage</key>
            <false/>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
        </dict>
        <dict>
                <key>CFBundleTypeName</key>
                <string>fr.rca.mapmaker.map.mmkb</string>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>mmkb</string>
                </array>
                <key>LSTypeIsPackage</key>
                <true/>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
            </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeIdentifier</key>
            <string>fr.rca.mapmaker.map.mmk</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>mmk</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>com.apple.package</string>
            </array>
            <key>UTTypeIdentifier</key>
            <string>fr.rca.mapmaker.map.mmkb</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>mmkb</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
